<!DOCTYPE html>
<html>
<head>
	<title>Ejemplo auxiliar 2</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Integrantes del equipo docente</h1>


	<div>
		<table>
			<tr>
				<td>Profesores</td>
			    <td>Ángel Jiménez Molina</td>
				<td>Iván Díaz Campos</td>
			</tr>
			<tr>
				<td>Profesores auxiliares</td>
				<td>Javiera Ovalle T.</td>
				<td>Jorge Pinto</td>
				<td>José Canto</td>
				<td>Macarena V. Osorio A.</td>
			</tr>
            <tr>  
				<td>Ayudantes</t>
				<td>Carlos Alberto Vega Hernández</td>
				<td>Catalina Martin D.</td>
				<td>Eduardo Valerio C.</td>
				<td>Juan Gutiérrez T.</td>
				<td>Matías Rojas</td>
			<tr> 
				<td></td>
			    <td>Nicolás Villa Contardo</td>
				<td>Sebastián Donoso</td>
				<td>Sofia Herrera</td>
				<td>Victoria Arce A.</td>
			</tr> 	
		</table>
	</div>


	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace al index del proyecto</a>


</body>
</html>